<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <div class="card-container">
        <% @product.reviews.reverse.each do | review | %>
          <div class="rating-card">
            <div>User: <%= review.user.first_name %> <%= review.user.last_name %></div>
            <div>Rating: <%= review.rating %></div>
            <div>Comment: <%= review.description %></div>
            <% if review.user == current_user %>
            <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        <% end %>

        <% if current_user %>
          <%= form_for [@product, @product.reviews.build] do |f| %>
            <%= f.label :description %>
            <%= f.text_area :description %>
            <%= f.label :rating %>
            <%= f.select(:rating, [1, 2, 3, 4, 5]) %>
            <%= f.submit "Submit" %>
          <% end %>
        <% end %>
        </div>


      </div>
    </div>



  </article>

</section>
